<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appuniversitario">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Solicitacoes" />
        <activity android:name=".Models.FeedActivityOfi" />
        <activity android:name=".Models.StoryItem" />
        <activity android:name=".Models.PostItem" />
        <activity android:name=".Adapters.StoryAdapter" />
        <activity android:name=".Adapters.PostAdapter" />
        <activity android:name=".FeedActivity" />
        <activity android:name=".BuscaActivity" />
        <activity android:name=".HabilidadesActivity" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CadastroActivity" />
        <activity android:name=".PerfilActivity" />
        <activity android:name=".PerfilActivity2" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>